<template>
    <div>
        <r-menu/>
        <router-view/>
    </div>
</template>

<script>
import Menu from '@/components/common/r-menu'

export default {
    name: 'app',
    components: {
        'r-menu': Menu
    }
}
</script>

<style>
</style>
