<template>
  <div>
    <r-toolbar ref="toolbar" v-on:select="select"/>
    <div id="map"/>
  </div>
</template>

<script>
  import RToolbar from './r-toolbar'
  import L from 'leaflet'
  import('../../../node_modules/leaflet/dist/leaflet.css')

  export default {
    name: 'r-map',
    data () {
      return {
        map: {}
      }
    },
    mounted () {
      this.map = L.map('map', {minZoom: 4, animate: true}).setView([51.1465, 71.4760], 13)
      L.tileLayer('http://localhost:9080/styles/osm-bright/{z}/{x}/{y}.png').addTo(this.map)
      this.map.zoomControl.setPosition('bottomright')
    },
    methods: {
      select: function () {
        console.log('selected');
        this.showItems();
      },
      showItems: function () {
        for (const item of this.$refs.toolbar.sidebar.items.items) {
          if (item.selected) {
            console.log(item);
          }
        }
      },
      showCityDistricts: function() {

      }
    },
    components: {
      RToolbar,
      'r-toolbar': RToolbar
    }
  }
</script>

<style scoped>
  #map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
  }
</style>
