<template>
  <div>
    <div class="toolbar">
      <button class="logo"/>
      <div class="search">
        <input v-model="toolbar.query" placeholder="Поиск">
        <button @click="search"/>
      </div>
      <button class="items" @click="toggleSidebar"/>
    </div>

    <div class="sidebar" v-if="sidebar.visible">
      <div class="filters">
        <div class="items" @mouseover="showItems" @click="selectItems">
          <span class="checkbox" :class="selectedClass(sidebar.filters.items)"/>
          <span class="label">Все слои ({{sidebar.items.items.length}})</span>
        </div>
        <div class="city-districts" @mouseover="showCityDistricts" @click="selectCityDistricts">
          <span class="checkbox" :class="selectedClass(sidebar.filters.cityDistricts)"/>
          <span class="label">Районы</span>
        </div>
        <div class="voting-districts" @click="selectVotingDistricts">
          <span class="checkbox" :class="selectedClass(sidebar.filters.votingDistricts)"/>
          <span class="label">Округа</span>
        </div>
      </div>
      <ul class="items" v-if="sidebar.items.visible">
        <li v-for="item in sidebar.items.items" class="item"
            :class="selectedClass(item.selected)"
            @click="selectItem(item)">
          <img :src="item.icon" class="icon" alt="">
          <span class="title">{{item.title}}</span>
          <span class="number">{{item.number}}</span>
          <button class="children" v-if="item.children.length">{{item.children.length}}</button>
        </li>
      </ul>
      <ul class="items city-districts" v-if="sidebar.cityDistricts.visible">
        <li v-for="item in sidebar.cityDistricts.items" class="item"
            :class="selectedClass(item.selected)"
            @click="selectItem(item)">
          <img :src="item.icon" class="icon" alt="">
          <span class="title">{{item.title}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: "r-toolbar",
    data: function () {
      return {
        toolbar: {
          query: ''
        },
        sidebar: {
          visible: false,
          filters: {
            items: false,
            cityDistricts: false,
            votingDistricts: false
          },
          items: {
            visible: true,
            items: [
              {
                selected: false,
                number: 10,
                title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
                icon: '',
                children: []
              },
              {
                selected: false,
                number: 55,
                title: 'title',
                icon: 'icon',
                children: []
              }
            ]
          },
          cityDistricts: {
            visible: false,
            items: [
              {
                selected: false,
                title: 'Алматы',
                icon: ''
              },
              {
                selected: false,
                title: 'Есиль',
                icon: ''
              },
              {
                selected: false,
                title: 'Сарыарка',
                icon: ''
              }
            ]
          }
        }
      }
    },
    computed: {
    },
    methods: {
      search: function () {
        console.log('Searching: ' + this.query);
      },
      toggleSidebar: function() {
        this.sidebar.visible = !this.sidebar.visible;
      },
      showItems: function () {
        this.sidebar.items.visible = true;
        this.sidebar.cityDistricts.visible = false;
      },
      showCityDistricts: function () {
        this.sidebar.items.visible = false;
        this.sidebar.cityDistricts.visible = true;
      },
      selectItems: function () {
        this.sidebar.filters.items = !this.sidebar.filters.items;
        this.sidebar.items.items.forEach(element => {
          element.selected = this.sidebar.filters.items;
        })

        this.$emit('select');
      },
      selectCityDistricts: function () {
        this.sidebar.filters.cityDistricts = !this.sidebar.filters.cityDistricts;
        this.sidebar.cityDistricts.items.forEach(element => {
          element.selected = this.sidebar.filters.cityDistricts;
        })

        this.$emit('select');
      },
      selectVotingDistricts: function () {
        this.sidebar.filters.votingDistricts = !this.sidebar.filters.votingDistricts;
        this.$emit('select');
      },
      selectedClass(selected) {
        return selected ? 'selected' : ''
      },
      selectItem: function (item) {
        item.selected = !item.selected;
        this.$emit('select');
      }
    }
  }
</script>

<style scoped>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    margin: 20px;
    width: 420px;
    height: 55px;
    z-index: 10;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .toolbar button {
    display: block;
    background-origin: content-box;
    background-color: inherit;
    border: none;
  }
  .toolbar button:hover {
    cursor: pointer;
  }
  .toolbar .logo {
    width: 50px;
    background-origin: padding-box;
    background-image: url(/static/img/toolbar/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    border-right: 2px solid #e0e0e0;
  }
  .toolbar .search {
    border-right: 2px solid #e0e0e0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .toolbar .search input {
    border: none;
    font-size: 20px;
    line-height: 45px;
    padding: 0 7px;
  }
  .toolbar .search button {
    width: 30px;
    background-image: url(/static/img/toolbar/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
  .toolbar button.items {
    width: 50px;
    background-image: url(/static/img/toolbar/items_active.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
  }
  .sidebar {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 20px;
    width: 420px;
    background-color: #fff;
    border-radius: 5px;
    overflow-y: scroll;
  }
  .sidebar > .filters {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 20px;

    font-family: "AvenirNextCyr", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #414141;
    border-bottom: 1px solid #c7c7c7;
  }
  .sidebar > .filters > div {
    padding-right: 20px;

    display: flex;
    flex-flow: row nowrap;
  }
  .sidebar > .filters > div:hover {
    cursor: pointer;
  }
  .sidebar > .filters .checkbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #673399;
    margin-right: 4px;
  }
  .sidebar > .filters .checkbox.selected {
    background-color: #673399;
  }
  .sidebar > .filters .label {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 2px;
  }
  .sidebar > ul.items {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar > ul.items > li.item {
    padding: 10px 20px;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .sidebar > ul.items > li.item.selected {
    background-color: #eee;
  }
  .sidebar > ul.items > li.item:hover {
    cursor: pointer;
  }
  .sidebar .items .item img.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
  }
  .sidebar .items .item .title {
    display: inline-block;
    padding: 5px 10px;
    font-family: "AvenirNextCyr", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #414141;
    width: 250px;
  }
  .sidebar .items .item .number {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #c7c7c7;
    padding: 10px;
    text-align: center;
  }
  .sidebar .items .item button.children {
    display: inline-block;
  }
</style>
