<template>
  <nav class="menu">
    <button class="icon"
            @click="toggle"/>
    <ul class="links"
        :class="activeMenuClass">
      <li v-for="item in items"
          class="link"
          @click="toggle">
        <router-link :to="item.to"
                     :class="item.code"
                     :active-class="'active'">{{item.title}}</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    name: 'r-menu',
    data: () => ({
      active: false,
      items : [
        {to: '/map', code: 'map', title: 'Карта'},
        {to: '/stats', code: 'stats', title: 'Статистика'},
        {to: '/data', code: 'data', title: 'Данные'},
        {to: '/docs', code: 'docs', title: 'Справки'},
        {to: '/admin', code: 'admin', title: 'Управление'},
        {to: '/logout', code: 'logout', title: 'Выйти'}
      ]
    }),
    methods: {
      toggle () {
        this.active = !this.active
      }
    },
    computed: {
      activeMenuClass: function() {
        return this.active ? 'active' : ''
      }
    }
  }
</script>

<style scoped>
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 2;
    padding: 20px;
  }
  .menu .icon {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
    background-image: url(/static/img/menu/menu_inactive.png);
    background-position: 50% 50%;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 21px;
  }
  .menu .icon:hover {
    cursor: pointer;
    background-image: url(/static/img/menu/menu_active.png);
  }
  .menu ul.links {
    list-style: none;
    display: none;
  }
  .menu ul.links.active {
    display: block;
  }
  .menu ul.links li.link a {
    display: block;
    font-family: "GothamPro", sans-serif;
    font-weight: 400;
    text-align: right;
    color: #000;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    background-position: right;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    padding-right: 50px;
  }
  .menu ul.links li.link a.map {
    background-image: url(/static/img/menu/map_inactive.png);
  }
  .menu ul.links li.link a.map.active {
    background-image: url(/static/img/menu/map_active.png);
  }
  .menu ul.links li.link a.stats {
    background-image: url(/static/img/menu/stats_inactive.png);
  }
  .menu ul.links li.link a.stats.active {
    background-image: url(/static/img/menu/stats_active.png);
  }
  .menu ul.links li.link a.data {
    background-image: url(/static/img/menu/data_inactive.png);
  }
  .menu ul.links li.link a.data.active {
    background-image: url(/static/img/menu/data_active.png);
  }
  .menu ul.links li.link a.docs {
    background-image: url(/static/img/menu/docs_inactive.png);
  }
  .menu ul.links li.link a.docs.active {
    background-image: url(/static/img/menu/docs_active.png);
  }
  .menu ul.links li.link a.admin {
    background-image: url(/static/img/menu/admin_inactive.png);
  }
  .menu ul.links li.link a.admin.active {
    background-image: url(/static/img/menu/admin_active.png);
  }
  .menu ul.links li.link a.logout {
    background-image: url(/static/img/menu/logout_inactive.png);
  }
  .menu ul.links li.link a.logout.active {
    background-image: url(/static/img/menu/logout_active.png);
  }
</style>
