<template>
  <div id="admin">
    <v-app>
      <v-navigation-drawer fixed v-model="drawer" app>
        <v-toolbar color="indigo" dark>
          <v-toolbar-title>Menu</v-toolbar-title>
        </v-toolbar>
        <v-list>
          <v-list-group
            v-for="m in menu"
            v-model="m.active"
            :prepend-icon="m.action"
            :key="m.title"
            no-action>
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>{{m.title}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-for="submenu in m.submenu" :key="submenu.title" @click="">
              <v-list-tile-title>{{submenu.title}}</v-list-tile-title>
            </v-list-tile>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>
      <v-content>
        <v-container fluid>
          <r-items/>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
  import('../../../node_modules/vuetify/dist/vuetify.css')
  import traverson from 'traverson-promise'
  import traversonHal from 'traverson-hal'
  import RItems from './r-items'

  traverson.registerMediaType(traversonHal.mediaType, traversonHal)

  export default {
    name: "r-admin",
    data: () => ({
      drawer: null,
      menu: [
        {
          active: false,
          action: 'account_box',
          title: 'Люди',
          submenu: [
            {
              title: 'Миссионеры'
            },
            {
              title: 'Освободившееся из мест лишения свободы'
            }
          ]
        },
        {
          active: false,
          action: 'store',
          title: 'Организации',
          submenu: [
            {
              title: 'Культурные объекты'
            },
            {
              title: 'Религиозные объединения'
            }
          ]
        },
        {
          active: false,
          action: 'settings',
          title: 'Настройки',
          submenu: [
            {
              title: 'Пользователи'
            }
          ]
        }
      ],
    }),
    components: {
      RItems
    }

  }
</script>

<style scoped>

</style>
