<template>
  <v-dialog v-model="lDialog.active"
            fullscreen
  >
    <v-card>
      <v-card-title>
        <span class="headline">{{ lDialog.title }}</span>
      </v-card-title>
      <v-card-text>
        <v-container fluid>
          <v-text-field label="Confession" v-model="lDialog.item.confession"/>
          <r-item-form-person :person="lDialog.item.person"/>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import RItemFormPerson from './r-item-form-person'
  import Missionary from '@/entities/Missionary'
  import _ from 'lodash'

  export default {
    components: {
      RItemFormPerson
    },
    name: "r-item-form",
    props: {
      dialog: {
        type: Object,
        required: true,
        default: () => ({
          active: false,
          title: 'Dialog',
          item: new Missionary(),
          index: -1
        })
      }
    },
    data: () => ({
      lDialog: null,
    }),
    watch: {
      dialog: {
        deep: true,
        handler (dialog) {
          this.init(dialog)
        }
      }
    },
    methods: {
      init (dialog = this.dialog) {
        this.lDialog = _.cloneDeep(dialog)
      },
      close () {
        this.lDialog.active = false;
        this.$emit('close', this.lDialog);
      },
      save () {
        this.lDialog.active = false;
        this.$emit('save', this.lDialog);
      }
    },
    created () {
      this.init()
    }
  }
</script>

<style scoped>

</style>
