<template>
  <v-container fluid ma-0 pa-0>
    <v-layout row>
      <v-select :label="label"
                no-data-text="No such addresses found"
                v-model="addressHolder[`${address}`]"
                :loading="loading"
                :search-input.sync="title"
                item-text="title"
                item-value="id"
                return-object
                :items="addresses"
                cache-items
                autocomplete
                dense
      />
    </v-layout>
    <v-layout row>
      <v-flex mr-4>
        <v-text-field label="Latitude" v-model="addressHolder[`${address}`].latitude"/>
      </v-flex>
      <v-flex>
        <v-text-field label="Longitude" v-model="addressHolder[`${address}`].longitude"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import Address from '@/entities/Address'
  import AddressService from '@/services/AddressService'
  import _ from 'lodash'

  export default {
    name: "r-item-form-address",
    props: {
      label: {
        type: String,
        default: 'Address'
      },
      addressHolder: {
        type: Object
      },
      address: {
        type: Object,
        default: () => (new Address())
      }
    },
    data: () => ({
      title: null,
      addresses: [],
      loading: false
    }),
    watch: {
      title (title) {
        if (!title) {
          return
        }

        console.debug('Address title changed', title)
        /*
                        let loaded = this.addresses.find(address => address.title === title);

                        if (!loaded && title.length > 2) {
                            this.loadByTitle(title)
                        }
        */
      }
    },
    methods: {
      async init () {
        this.addresses = await AddressService.loadAll()
      },
      async loadByTitle (title) {
        this.loading = true
        this.addresses = await AddressService.loadByTitle(title)
        this.loading = false
      }
    },
    created () {
      console.debug('item-form-address created')
      this.init()
    },
    mounted () {
      console.debug('item-form-address mounted')
      this.init()
    },
    updated () {
      console.debug('item-form-address updated')
    }
  }
</script>

<style scoped>

</style>
