<template>
  <v-container fluid ma-0 pa-0>
    <v-layout row>
      <v-flex>
        <v-text-field label="Person name" v-model="person.name"/>
      </v-flex>
      <v-flex>
        <v-text-field label="Contacts" v-model="person.contacts"/>
      </v-flex>
    </v-layout>
    <r-item-form-address label="Registration address" :address-holder="person" address="registrationAddress"/>
    <v-checkbox label="Use registration address as actual" v-model="useRegistrationAddress"/>
    <r-item-form-address label="Actual address" :address="person.actualAddress" v-if="!useRegistrationAddress"/>
  </v-container>
</template>

<script>
  import RItemFormAddress from "./r-item-form-address";
  import Person from '@/entities/Person'

  export default {
    components: {RItemFormAddress},
    name: "r-item-form-person",
    props: {
      person: {
        type: Object,
        default: () => (new Person())
      }
    },
    data: () => ({
      useRegistrationAddress: true
    })
  }
</script>

<style scoped>

</style>
