<template>
  <div>
    <h1>
      <v-btn icon class="mx-0" color="indigo" dark @click.native="createItem()">
        <v-icon>add</v-icon>
      </v-btn>
      Missionaries
    </h1>
    <v-data-table
      :headers="headers"
      :items="items"
      hide-actions>
      <template slot="items" slot-scope="props">
        <td v-for="header in headers">
          <template v-if="header.value !== 'actions'">
            {{ getValueByHeader(props.item, header.value) }}
          </template>
          <template v-else>
            <v-btn icon class="mx-0" @click="editItem(props.item)">
              <v-icon color="teal">edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="deleteItem(props.item)">
              <v-icon color="pink">delete</v-icon>
            </v-btn>
          </template>
        </td>
      </template>
    </v-data-table>
    <r-item-form :dialog="dialog"
                 @close="closeDialog"
                 @save="saveItem"/>
  </div>
</template>

<script>
  import _ from 'lodash'
  import MissionaryService from '@/services/MissionaryService'
  import RItemForm from './r-item-form'
  import Missionary from '@/entities/Missionary'

  export default {
    components: {RItemForm},
    name: "r-items",
    data: () => ({
      dialog: {
        active: false,
        title: 'Create',
        item: new Missionary(),
        index: -1
      },
      headers: [
        {text: 'Confession', value: 'confession'},
        {text: 'Name', value: 'person.name'},
        {text: 'Contacts', value: 'person.contacts'},
        {text: 'Registration Address', value: 'person.registrationAddress.title'},
        {text: 'Actual Address', value: 'person.actualAddress.title'},
        {text: 'Actions', value: 'actions'}
      ],
      items: []
    }),
    methods: {
      async init () {
        this.items = await MissionaryService.loadAll()
        this.dialog.item = new Missionary();
      },
      getValueByHeader (item, property) {
        try {
          return eval('item.' + property)
        } catch (error) {
          console.warn(error)
        }
      },
      openDialog(title) {
        this.dialog.active = true
        this.dialog.title = title
      },
      closeDialog() {
        this.dialog.active = false
        this.dialog.index = -1
      },
      createItem() {
        this.dialog.item = new Missionary();
        this.openDialog('Create')
      },
      editItem(item) {
        this.dialog.index = this.items.indexOf(item)
        this.dialog.item = item
        this.openDialog('Edit')
      },
      deleteItem(item) {
        this.dialog.index = this.items.indexOf(item)
        MissionaryService
          .delete(item)
          .then(response => {
            console.log(response)
            this.items.splice(this.dialog.index, 1)
            this.dialog.index = -1;
          })
      },
      async saveItem(dialog) {
        this.dialog = dialog
        const response = await MissionaryService.save(this.dialog.item);
        if (this.dialog.item.id) {
          this.items.splice(this.dialog.index, 1);
        }
        this.items.push(response);
        this.closeDialog();
      }
    },
    created () {
      this.init();
    }
  }
</script>

<style scoped>

</style>
